@use "./base.scss";

// ۱. تنظیم فونت و جهت کلی متن
html {
  font-family: Vazirmatn, sans-serif !important;
}

code { 
  direction: ltr !important;
}

// ۲. اصلاح جهت چرخش فلش‌ها در حالت بسته و باز برای راست‌چین
button#explorer.collapsed .fold,
button#toc.collapsed .fold,
.collapsed .fold {
  transform: rotateZ(90deg) !important;
}

li:has(> .folder-outer:not(.open)) > .folder-container > svg {
  transform: rotate(90deg) !important;
}

// ۳. انتقال فلش به کنار عنوان به صورت راست‌چین
button#explorer,
button#toc {
  display: flex !important;
  align-items: center !important;
  gap: 0.5rem !important;
}

button#explorer .fold,
button#toc .fold {
  opacity: 0.8;
  margin: 0 !important;
  transition: transform 0.3s ease;
}

.folder-icon {
  margin-right: 0px !important;
  margin-left: 5px !important;
}

// ۴. اصلاح فواصل فهرست مطالب و منوها
.breadcrumb-element p {
  margin: 0 .5rem 0 0;
  padding: 0;
  line-height: normal;
}

.content-meta[show-comma="true"] > span:not(:last-child) {
  margin-left: 8px !important;
  margin-right: 0px !important;
}

.tags {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#explorer-content ul {
  padding-right: .7rem !important;
  padding-left: 0px !important;
}

#toc-content .depth-1 {
  padding: 0px !important;
  padding-right: 1rem !important;
}

#toc-content .depth-2 {
  padding: 0px !important;
  padding-right: 2rem !important;
}

#toc-content .depth-3 {
  padding: 0px !important;
  padding-right: 3rem !important;
}

div.search.mobile-only {
  padding-right: 10px !important;
}

// ۵. فارسی‌سازی عنوان پانوشت‌ها
h2#footnote-label {
  visibility: hidden;
}

h2#footnote-label::after {
  content: "پانوشت‌ها";
  visibility: visible;
  display: block;
}